*,::before,::after {
  box-sizing: border-box;
}
.numbers {
  table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(34,36,38,.15);
  }
  th {
    padding: 8px 0;
    border-left: 1px solid rgba(34,36,38,.1);
    font-weight: normal;
  }
  td {
    width: 120px;
    height: 30px;
    border-left: 1px solid rgba(34,35,38,.1);
    border-top: 1px solid rgba(34,35,38,.1);
  }
  th:first-child,td:first-child {
    border-left: none;
  }
  td:first-child {
    text-align: center;
  }

  input[type=text] {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}