body {
  max-width: 1000px;
  line-height: 1.5;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

a {
  color: #000;
  &:hover {
    color: #000;
  }
}

.debug(@color:red) {
  // border: 1px solid @color;
}

.color-mixer {
  border: 1px solid #ccc;
  .debug();
  width: 300px;
  padding: 10px;

  .adjuster {
    .title {
      float: left;
    }
    .body {
      .debug(blue);
      margin-left: 50px;
      padding-top: 2px;
      input {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
  .indicator {
    .debug();
    width: 100px;
    height: 100px;
  }

  .box {
    .debug(green);
    margin: 10px 0 0 50px;
    .clearfix();
    .indicator {
      float: left;
    }
    .label {
      float: left;
      margin-left: 10px;
    }
  }
}

.reverse {
  border: 1px solid gray;
  width: 100px;
  height: 100px;
}